pkgbase = plasma-systemmonitor
	pkgdesc = An interface for monitoring system sensors, process information and other system resources
	pkgver = 6.6.5
	pkgrel = 1
	url = https://apps.kde.org/plasma-systemmonitor/
	arch = x86_64
	groups = plasma
	license = GPL-2.0-or-later
	license = LGPL-2.0-or-later
	makedepends = extra-cmake-modules
	depends = gcc-libs
	depends = glibc
	depends = kconfig
	depends = kcoreaddons
	depends = kcrash
	depends = kdbusaddons
	depends = kdeclarative
	depends = kglobalaccel
	depends = ki18n
	depends = kiconthemes
	depends = kio
	depends = kirigami
	depends = kirigami-addons
	depends = kitemmodels
	depends = knewstuff
	depends = kquickcharts
	depends = kservice
	depends = ksystemstats
	depends = kwindowsystem
	depends = libksysguard
	depends = qt6-base
	depends = qt6-declarative
	replaces = ksysguard
	source = https://download.kde.org/stable/plasma/6.6.5/plasma-systemmonitor-6.6.5.tar.xz
	source = https://download.kde.org/stable/plasma/6.6.5/plasma-systemmonitor-6.6.5.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = b6ebf7c1e6f7a42c91a0b511971fd67041d4d9b617edc3a4fc0b08af4a0ec78f
	sha256sums = SKIP

pkgname = plasma-systemmonitor
